In [1]:
import pandas as pd
import numpy as np

In [2]:
balls=pd.read_csv('deliveries.csv')

In [19]:
balls

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [4]:
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [5]:
balls.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

## list of 2020 players

In [ ]:
'''chennai=[Sam Curran, Piyush Chawla, Josh Hazlewood, R Sai Kishore ,MS Dhoni, Suresh Raina, Ambati Rayudu,
         Shane Watson, Faf du Plessis, Murali Vijay, Kedar Jadhav, Ravindra Jadeja, Rituraj Gaikwad, 
         Dwayne Bravo, Karn Sharma, Imran Tahir, Harbhajan Singh, Mitchell Santner, Shardul Thakur, KM Asif,
         Deepak Chahar, N Jagadeesan, Lungi Ngidi, Monu Singh]

delhi=[Jason Roy, Chris Woakes , Alex Carey, Shimron Hetmyer, Mohit Sharma, Tushar Deshpande,
      Shikhar Dhawan, Prithvi Shaw, Shreyas Iyer, Rishabh Pant, Axar Patel, Amit Mishra, Ishant Sharma, 
       Harshal Patel, Avesh Khan, Kagiso Rabada, Keemo Paul, Sandeep Lamichhane]

punjab=[Glenn Maxwell , Sheldon Cottrell, Deepak Hooda, Ishan Porel, Ravi Bishnoi, James Neesham,KL Rahul, 
        Karun Nair, Mohammed Shami, Nicholas Pooran, Mujeeb ur Rahman, Chris Gayle, Mandeep Singh,Mayank Agarwal,
        Hardus Viljoen, Darshan Nalkande, Sarfaraz Khan, Arshdeep Singh, Harpreet Brar, Murugan Ashwin]

hydrabad=[Kane Williamson,David Warner,Manish Pandey,Virat Singh,Priyam Garg,Abdul Samad,Bhuvneshwar Kumar
          ,Khaleel Ahmed,Sandeep Sharma,Siddharth Kaul,Billy Stanlake,T Natarajan,Abhishek Sharma,Shahbaz Nadeem
          ,Mitchell Marsh,Fabian Allen,Vijay Shankar,Mohammad Nabi,Rashid Khan,Sanjay Yadav,Jonny Bairstow,
          Wriddhiman Saha,Shreevats Goswami,Bavanaka Sandeep,Basil Thampi]

Mumbai=['Rohit sharma','Hardik Pandya','Jaspreet Bumrah','MD Nidheesh','Mohsin Khan','Anukul Sudhakar Roy',
        'Akila Dhananjaya','Mayank Markande','Aditya Tare','Siddesh Lad','Sharad Lumba','TN Dhillon',
        Jason Behrendorff,J. P. Duminy,Pradeep Sangwan,Ben Cutting,Saurabh Tiwari,Evin Lewis,Rahul Chahar
        ,Ishaan Kishan,Krunal Pandya,Surya Kumar Yadav,Pat Cummins,Mustafizur Rahman,Kieron Pollard]

rajasthan=[Dushmantha Chameera,Jatin Saxena,Aryaman Birla,Mahipal Lomror,Ben Laughlin,S. Midhun,Prashan Chopra,
           Shreyas Gopal,Zahir Khan,Anureet Singh,Ankit Sharma,Jaydev Udankat,Dhawal Kulkarni,Krishnappa Gowtham,
           Jofra Archer,D Arcy Short,Rahul Tripathi,Jos Buttler,Sanju Samson,Stuart Binny,Ajinkya Rahane,
           Ben Stokes]

kolkata=[Andre Russell,Dinesh Karthik,Harry Gurney,Kamlesh Nagarkoti,Kuldeep Yadav,Lockie Ferguson,Nitish Rana,
         Prasidh Krishna,Rinku Singh,Sandeep Warrier,Shivam Mavi,Shubman Gill,Siddhesh Lad,Sunil Narine,Pat Cummins
         ,Eoin Morgan,Varun Chakravarthy,Tom Banton,Rahul Tripathi,Chris Green,M Siddharth,Praveen Tambe,
         Nikhil Naik]

banglore=[Virat Kohli,AB de Villiers,Gurkeerat Mann,Devdutt Padikkal,Aaron Finch,Yuzvendra Chahal,Mohammed Siraj,
          Umesh Yadav,Navdeep Saini,Kane Richardson,Dale Steyn,Isuru Udana,Moeen Ali,Pawan Negi,Shivam Dube,
          Washington Sundar,Chris Morris,Pavan Deshpande, Parthiv Patel,Joshua Philippe,Shahbaz Ahamad]
'''

## Batsman Analysis

In [6]:
#all batsman name
man = balls['batsman'].unique()

In [7]:
man

array(['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuvraj Singh',
       'DJ Hooda', 'BCJ Cutting', 'CH Gayle', 'Mandeep Singh', 'TM Head',
       'KM Jadhav', 'SR Watson', 'Sachin Baby', 'STR Binny', 'S Aravind',
       'YS Chahal', 'TS Mills', 'A Choudhary', 'PA Patel', 'JC Buttler',
       'RG Sharma', 'N Rana', 'AT Rayudu', 'KH Pandya', 'KA Pollard',
       'HH Pandya', 'TG Southee', 'AM Rahane', 'MA Agarwal', 'SPD Smith',
       'BA Stokes', 'MS Dhoni', 'JJ Roy', 'BB McCullum', 'SK Raina',
       'AJ Finch', 'KD Karthik', 'G Gambhir', 'CA Lynn', 'MK Tiwary',
       'DT Christian', 'HM Amla', 'M Vohra', 'WP Saha', 'AR Patel',
       'GJ Maxwell', 'DA Miller', 'Vishnu Vinod', 'Iqbal Abdulla',
       'P Negi', 'AP Tare', 'SW Billings', 'KK Nair', 'SV Samson',
       'RR Pant', 'CH Morris', 'CR Brathwaite', 'PJ Cummins', 'A Mishra',
       'S Nadeem', 'Z Khan', 'DR Smith', 'DS Kulkarni', 'P Kumar',
       'Basil Thampi', 'RV Uthappa', 'MK Pandey', 'YK Pathan', 'SA Yadav',
       'CR Woakes', 'SP Narine', 'Harbhajan Singh', 'AB de Villiers',
       'CJ Anderson', 'F du Plessis', 'RA Tripathi', 'R Bhatia',
       'DL Chahar', 'A Zampa', 'AB Dinda', 'Imran Tahir', 'NV Ojha',
       'V Shankar', 'Rashid Khan', 'B Kumar', 'MP Stoinis', 'MM Sharma',
       'VR Aaron', 'V Kohli', 'MJ McClenaghan', 'Ankit Sharma',
       'SN Thakur', 'RD Chahar', 'LH Ferguson', 'C de Grandhomme',
       'Bipul Sharma', 'SS Iyer', 'EJG Morgan', 'KC Cariappa',
       'Sandeep Sharma', 'Ishan Kishan', 'JD Unadkat', 'AF Milne',
       'S Badree', 'AD Mathews', 'Mohammed Shami', 'Mohammad Nabi',
       'I Sharma', 'RA Jadeja', 'AJ Tye', 'KS Williamson', 'SE Marsh',
       'Shakib Al Hasan', 'JP Faulkner', 'MG Johnson', 'K Rabada',
       'AD Nath', 'NM Coulter-Nile', 'Kuldeep Yadav', 'UT Yadav',
       'Washington Sundar', 'KV Sharma', 'DM Bravo', 'AR Bawne',
       'SP Jackson', 'MJ Guptill', 'Anureet Singh', 'IK Pathan',
       'Ankit Soni', 'JJ Bumrah', 'SL Malinga', 'PJ Sangwan', 'S Kaul',
       'LMP Simmons', 'MN Samuels', 'Swapnil Singh', 'R Tewatia',
       'MM Patel', 'SS Tiwary', 'TA Boult', 'CJ Jordan', 'IR Jaggi',
       'PP Chawla', 'AS Rajpoot', 'SC Ganguly', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'R Dravid', 'W Jaffer', 'JH Kallis', 'CL White',
       'MV Boucher', 'B Akhil', 'AA Noffke', 'SB Joshi', 'ML Hayden',
       'MEK Hussey', 'JDP Oram', 'S Badrinath', 'K Goel', 'JR Hopes',
       'KC Sangakkara', 'SM Katich', 'T Kohli', 'M Kaif', 'DS Lehmann',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'V Sehwag',
       'L Ronchi', 'ST Jayasuriya', 'DJ Thornely', 'PR Shah', 'AM Nayar',
       'SM Pollock', 'S Chanderpaul', 'LRPL Taylor', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'SB Styris',
       'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh', 'LR Shukla',
       'DPMD Jayawardene', 'S Sohal', 'B Lee', 'WA Mota', 'Kamran Akmal',
       'Shahid Afridi', 'DJ Bravo', 'MA Khote', 'A Nehra', 'GC Smith',
       'Pankaj Singh', 'RR Sarwan', 'S Sreesanth', 'VRV Singh',
       'R Vinay Kumar', 'AB Agarkar', 'M Kartik', 'Shoaib Malik',
       'MF Maharoof', 'VY Mahesh', 'TM Srivastava', 'B Chipli',
       'DW Steyn', 'DB Das', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SA Asnodkar', 'Sohail Tanvir', 'Salman Butt', 'BJ Hodge',
       'Umar Gul', 'SP Fleming', 'S Vidyut', 'JA Morkel', 'LPC Silva',
       'DB Ravi Teja', 'Misbah-ul-Haq', 'YV Takawale', 'RR Raje',
       'Mohammad Asif', 'GD McGrath', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha',
       'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar', 'PP Ojha',
       'SP Goswami', 'SR Tendulkar', 'U Kaul', 'TM Dilshan',
       'AD Mascarenhas', 'Niraj Patel', 'LA Pomersbach', 'Younis Khan',
       'PM Sarvesh Kumar', 'DP Vijaykumar', 'Shoaib Akhtar',
       'Abdur Razzak', 'H Das', 'SD Chitnis', 'CRD Fernando',
       'VS Yeligati', 'L Balaji', 'A Mukund', 'RR Powar', 'JP Duminy',
       'A Flintoff', 'T Thushara', 'JD Ryder', 'KP Pietersen',
       'T Henderson', 'Kamran Khan', 'RS Bopara', 'R Bishnoi',
       'FH Edwards', 'PC Valthaty', 'RJ Quiney', 'AS Raut',
       'Yashpal Singh', 'M Manhas', 'AA Bilakhia', 'AN Ghosh',
       'BAW Mendis', 'DL Vettori', 'MN van Wyk', 'RE van der Merwe',
       'TL Suman', 'Shoaib Ahmed', 'GR Napier', 'KP Appanna',
       'LA Carseldine', 'SM Harwood', 'M Vijay', 'SB Jakati', 'RJ Harris',
       'D du Preez', 'M Morkel', 'J Botha', 'C Nanda', 'Mashrafe Mortaza',
       'A Singh', 'GJ Bailey', 'AB McDonald', 'Y Nagar', 'SS Shaikh',
       'R Ashwin', 'Mohammad Ashraful', 'CA Pujara', 'OA Shah',
       'Anirudh Singh', 'Jaskaran Singh', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla',
       'JM Kemp', 'S Tyagi', 'RS Gavaskar', 'SE Bond', 'S Ladda',
       'DP Nannes', 'MJ Lumb', 'DR Martyn', 'S Narwal', 'AB Barath',
       'FY Fazal', 'AC Voges', 'MD Mishra', 'J Theron', 'SJ Srivastava',
       'R Sharma', 'SW Tait', 'KB Arun Karthik', 'KAJ Roach',
       'PD Collingwood', 'CK Langeveldt', 'VS Malik', 'A Mithun',
       'AP Dole', 'AN Ahmed', 'RS Sodhi', 'DE Bollinger', 'S Sriram',
       'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh', 'Harmeet Singh',
       'RV Gomez', 'AUK Pathan', 'UBT Chand', 'DJ Jacobs', 'Sunny Singh',
       'NJ Rimmington', 'AL Menaria', 'WD Parnell', 'JJ van der Wath',
       'R Ninan', 'MS Wade', 'TD Paine', 'SB Wagh', 'AC Thomas',
       'JEC Franklin', 'DH Yagnik', 'S Randiv', 'BJ Haddin',
       'NLTC Perera', 'NL McCullum', 'JE Taylor', 'J Syed Mohammad',
       'RN ten Doeschate', 'TR Birt', 'AG Murtaza', 'Harpreet Singh',
       'M Klinger', 'AC Blizzard', 'I Malhotra', 'L Ablish', 'CA Ingram',
       'P Parameswaran', 'CJ Ferguson', 'AA Chavan', 'ND Doshi',
       'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt', 'RE Levi', 'KK Cooper',
       'HV Patel', 'DAJ Bracewell', 'DJ Harris', 'GB Hogg', 'RR Bhatkal',
       'CJ McKay', 'N Saini', 'Azhar Mahmood', 'RJ Peterson',
       'KMDN Kulasekara', 'A Ashish Reddy', 'V Pratap Singh',
       'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh', 'AP Majumdar',
       'PA Reddy', 'K Upadhyay', 'P Awana', 'AD Russell', 'A Chandila',
       'Sunny Gupta', 'MC Juneja', 'GH Vihari', 'MDKJ Perera', 'R Shukla',
       'B Laughlin', 'BMAJ Mendis', 'R Rampaul', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'LJ Wright',
       'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam', 'DJG Sammy',
       'KW Richardson', 'UA Birla', 'Parvez Rasool', 'PV Tambe',
       'NJ Maddinson', 'JDS Neesham', 'MA Starc', 'BR Dunk', 'RR Rossouw',
       'Shivam Sharma', 'VH Zol', 'BE Hendricks', 'S Gopal', 'M de Lange',
       'JO Holder', 'Karanveer Singh', 'SA Abbott', 'J Suchith',
       'RG More', 'D Wiese', 'SN Khan', 'DJ Muthuswami', 'C Munro',
       'P Sahu', 'KJ Abbott', 'M Ashwin', 'NS Naik', 'PSP Handscomb',
       'J Yadav', 'UT Khawaja', 'F Behardien', 'BB Sran', 'S Kaushik',
       'ER Dwivedi', 'E Lewis', 'M Wood', 'R Singh', 'D Short',
       'K Gowtham', 'T Curran', 'M Markande', 'B Stanlake', 'M Ur Rahman',
       'A Dananjaya', 'S Gill', 'S Mavi', 'Mohammed Siraj', 'H Klaasen',
       'R Bhui', 'J Archer', 'P Shaw', 'L Plunkett', 'Mustafizur Rahman',
       'A Hales', 'M Lomror', 'D Shorey', 'M Ali', 'P Krishna',
       'P Chopra', 'J Searles', 'I Sodhi', 'S Hetmyer', 'S Dube',
       'J Bairstow', 'C Ingram', 'K Paul', 'R Salam', 'N Pooran',
       'N Naik', 'H Vihari', 'P R Barman', 'S Curran', 'H Viljoen',
       'Avesh Khan', 'S Lamichhane', 'S Sharma', 'H Gurney', 'SD Lad',
       'A Joseph', 'R Parag', 'M Santner', 'J Denly', 'L Livingstone',
       'K Ahmed', 'A Turner', 'H Brar', 'S Rutherford', 'P Raj',
       'S Singh'], dtype=object)

In [8]:
# Total run by batsman
runs = balls.groupby('batsman').sum()
runs = runs.sort_values(by=['batsman_runs', 'batsman'], ascending=False)
runs = runs.drop(['match_id', 'inning', 'over', 'extra_runs','total_runs'], axis=1)
runs

,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs
batsman,,,,,,,,
V Kohli,14728,2,118,5,45,14,0,5434
SK Raina,14677,3,149,4,64,19,0,5415
RG Sharma,13479,0,78,2,50,13,0,4914
DA Warner,11899,1,127,28,63,16,0,4741
S Dhawan,13428,0,141,12,79,12,0,4632
...,...,...,...,...,...,...,...,...
K Ahmed,6,0,0,0,0,0,0,0
J Denly,1,0,0,0,0,0,0,0
IC Pandey,9,0,0,0,0,0,0,0
C Nanda,3,0,0,0,0,0,0,0
Abdur Razzak,11,0,0,0,0,0,0,0

In [9]:
# total runs by batsman in every match and centuries
run=pd.DataFrame([balls.match_id, balls.inning, balls.batsman, balls.batsman_runs]).transpose()

In [10]:
run

       match_id inning    batsman batsman_runs
0             1      1  DA Warner            0
1             1      1  DA Warner            0
2             1      1  DA Warner            4
3             1      1  DA Warner            0
4             1      1  DA Warner            0
...         ...    ...        ...          ...
179073    11415      2  RA Jadeja            1
179074    11415      2  SR Watson            2
179075    11415      2  SR Watson            1
179076    11415      2  SN Thakur            2
179077    11415      2  SN Thakur            0

[179078 rows x 4 columns]

In [12]:
#run=pd.DataFrame([run.match_id, run.inning, run.batsman, run.batsman_run])
run = run.groupby(['match_id','inning', 'batsman']).sum()
run

                              batsman_runs
match_id inning batsman
1        1      BCJ Cutting             16
                DA Warner               14
                DJ Hooda                16
                MC Henriques            52
                S Dhawan                40
...                                    ...
11415    2      MS Dhoni                 2
                RA Jadeja                9
                SK Raina                 9
                SN Thakur                2
                SR Watson               84

[11335 rows x 1 columns]

In [23]:
centuries = run[run['batsman_runs']>=100].sort_values(by=['batsman'])
centuries.head(50)

                                  batsman_runs
match_id inning batsman
68       1      A Symonds                  117
125      1      AB de Villiers             105
562      1      AB de Villiers             133
620      1      AB de Villiers             129
296      1      AC Gilchrist               106
72       2      AC Gilchrist               109
326      1      AM Rahane                  103
11331    1      AM Rahane                  108
7939     2      AT Rayudu                  100
38       2      BA Stokes                  103
60       1      BB McCullum                158
521      1      BB McCullum                100
411      1      CH Gayle                   175
280      1      CH Gayle                   107
258      2      CH Gayle                   102
557      1      CH Gayle                   117
7909     1      CH Gayle                   111
11319    1      CH Gayle                   105
372      1      CH Gayle                   128
448      2      DA Miller                  101
200      1      DA Warner                  107
11147    1      DA Warner                  101
36       1      DA Warner                  126
331      2      DA Warner                  109
208      2      DPMD Jayawardene           110
46       1      HM Amla                    104
22       1      HM Amla                    104
11147    1      J Bairstow                 115
11334    1      KD Karthik                 101
7933     2      KL Rahul                   101
11315    1      KL Rahul                   104
323      2      KP Pietersen               103
505      2      LMP Simmons                100
380      1      M Vijay                    113
206      1      M Vijay                    127
61       1      MEK Hussey                 116
171      1      MK Pandey                  114
11146    2      P Shaw                     100
243      2      PC Valthaty                120
587      2      Q de Kock                  108
363      1      RG Sharma                  109
7935     1      RR Pant                    130
97       1      SE Marsh                   115
425      1      SK Raina                   100
601      1      SPD Smith                  101
247      1      SR Tendulkar               100
7953     2      SR Watson                  121
7910     1      SR Watson                  108
570      1      SR Watson                  104
410      1      SR Watson                  101